.list__addNewTask {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
    margin: 1px 0px 10px;
    flex-wrap: wrap;
}

.addButton {
    color: white;
    background-color: teal;
    border: none;

}