.list {

    justify-content: center;
    align-items: center;
    flex-basis: 800px;
    background-color: rgb(231, 224, 224);
    padding: 20px;
    margin: 50px auto;
}

.list__taskCommand {
    background-color: white;
    padding: 10px;
    margin: 1px 0px;
}