html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 224, 224);
    padding: 20px;
    margin: 50px auto;
    max-width: 900px;
}

.section {
background-color: white;
margin: 1px 0px 10px;
}

.section__header {
    padding: 10px;
    margin: 1px 0px;
    border-bottom: 1px solid #ddd;
}

.disabled {
    display: none;

}
.section__buttons {
    border: none;
    color: teal;
    background-color: white;
}
.section__buttons:hover {
    color: hsl(180, 100%, 35%);
}