html {
    box-sizing: border-box;
    
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 13%, 89%);
    padding: 20px;
    margin: 50px auto;
    max-width: 900px;
}

.section {
    background-color: hsl(0, 0%, 100%);
    margin: 1px 0px 10px;
    
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
    margin: 1px 0px;
    border-bottom: 1px solid hsl(0, 0%, 87%);
    align-items: center;
}

@media (max-width: 500px) {
    .section__header {
        display: grid;
        grid-template-columns: 1fr;
    }
    .section__buttons {
        display: grid;
    }
}
.section__h2 {
    margin: 0;
}

.section__buttons {
    border: none;
    color: hsl(180, 100%, 25%);
    background-color: transparent;
    font-size: 15px;
    margin-top: 3px;
    transition: 1s;
}

.section__buttons:hover {
    color: hsl(180, 100%, 35%);
}

.section__buttons:disabled {
    color: hsl(0, 0%, 80%);
}